{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "pnpm run build && git add dist && git commit -m 'chore: update build output [skip ci]' || true"
      }
    ],
    "@semantic-release/git"
  ],
  "tagFormat": "v${version}"
}